[credential]
    helper = cache --timeout=86400

[user]
    email = 143852415+Maxdep0@users.noreply.github.com 
    name = max

[core]
    excludefile = ~/config/gitconfig/.gitignore_global
    editor = nvim
    autocrlf = input
    pager = cat

[init]
    defaultBranch = main

[color]
    ui = true
    diff = auto
    status = auto
    branch = auto
    interactive = auto;

[merge]
    conflictstyle = diff3

[push]
    default = simple
    autoSetupRemote = true


[diff]
    tool = nvimdiff
    algoritm = patience

[difftool "nvimdiff"]
    cmd = "nvim -d $LOCAL $REMOTE"
    prompt = false

[help]
    autocorrect = 1

[alias]
    s = status -s
    r = remote -v
    cm = "!f() { git commit -m \"$1\"; }; f"
    setssh = "!f() { git remote set-url origin git@github.com:Maxdep0/$1; }; f"
    l = log --graph --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short 
    la = "!git config -l | grep alias | cut -c 7-"

